<h2>Our new homepage!</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum omnis nobis eveniet accusantium repellendus, fugit deserunt dignissimos corporis saepe exercitationem neque quisquam perspiciatis consectetur autem possimus tempore quaerat unde. Assumenda.</p>

<%= link_to 'About', '#' %>

<% if user_signed_in? %>
  <h2>Welcome <%= current_user.email %></h2>
<% end %>
